.aboutIndia{
    position: relative;
    height:auto;
    width:850px;
    margin-left:250px;
    border-radius: 5px;
    box-shadow: 6px 6px 10px black;
    background-color: white;
    margin-top:-490px;
    
  
   
  
}

.back-img{
    
    width:950px;
    height: 650px;
   margin-left:200px;
    border-radius: 10px;
   
}

.explore{
    position: absolute ;
    color: red;
    left:460px;
    top:290px;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.location{
   
}
.ind-img{
    height:250px;
    width:250px;
    display: inline-block;
    margin: 2px;
}

#info{
    font-size:15px;
    word-spacing:4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    padding:2px;
   
}

#info a{
    text-decoration-line: none;
    
}
#photos{
    display:inline-block;
}
.indi-img{
    height:100px;
    width:100px;
    border-radius:5px;
    box-shadow: 2px 2px 4px black;
    margin:5px;
}

#cap{
    color:dimgrey;
    font-size:15px;
    
}

#bold{
    color:black;
   font-weight: bold;
   font-size: 17px;
}

