.loc-city{
    /* height:200px;
    width:400px; */
    border:1px solid grey;
   margin:10px;
    border: none;
    /* border:2px solid black; */
}

#city-img{
    height:200px;
    width:400px;
    border-radius:5px;
    
}

#location-box{
    position: absolute;
    display:inline-block;
    height: 200px;
    width:370px;
    margin-left:10px;
    border:1px solid black;
    border-radius: 5px;
}

.city-info{
    margin:10px;
    /* border:1px solid lightgray; */
    padding:3px;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.about-city{
    
    height:auto;
    width:800px;
    background-color: white;
    margin-top:20px;
    margin-left: 250px;
    border:1px solid grey;
    border-radius:10px;
   
}
