.state-head{
    background-color: #223388;
    height:100px;
    width:100%;
   margin: 0px;
   
    
}

#state-name{
    margin: 0px;
    float:left;
    margin-top:30px;
    margin-left:30px;
    color:skyblue;
    
}

#con{
    position: absolute;
    margin: 0px;
    float:left;
    margin-top:70px;
    margin-left:30px;
    font-size:20px;
    color:rgb(162, 172, 175);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
